html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
body {
  font-family: "Red Hat Display", sans-serif;
}

img {
  width: 100%;
}
h2 {
  font-size: 27px;
  margin: 10px 0;
}
.container {
  width: 400px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  margin-bottom:23px;
}
.details {
  padding: 30px 40px;
}
.plan {
  display: block;
  margin-left: 10px;
}
main {
  background: url("./images/pattern-background-desktop.svg"), #e0e8ff;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rounded {
  border-radius: 20px 20px 0 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

button {
  border: none;
  font-weight: 700;
  width: 100%;
  background-color: rgb(56, 41, 224);
  border-radius: 16px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  box-shadow: 0 10px 10px 0px rgba(56, 41, 224, 0.34);
  -webkit-box-shadow: 0 10px 10px 0px rgba(56, 41, 224, 0.34);
  -moz-box-shadow: 0 10px 10px 0px rgba(56, 41, 224, 0.34);
  margin-bottom: 20px;
  padding: 20px 32px;
}
button#cancel {
  background-color: transparent;
  color: gray;
  box-shadow: none;
  margin-bottom: 0;
}
button#cancel:hover {
  color: black;
}
button:hover {
  background-color: #766cf1;
}
.button {
  display: flex;
  flex-direction: row;
  background-color: #fdfcfc;
  border-radius: 16px;
  margin-bottom: 25px 0;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
.button a {
  font-weight: 700;
  margin-left: auto;
}

.button a:hover {
  color: #766ec4;
  background-color: unset;
}

h4 {
  color: gray;
}
.icon-music {
  width: 50px;
}
p {
  color: gray;
  font-size: 15px;
}
